<md-dialog aria-label="CreatePost" ng-controller="MainController" >
    <!--<md-toolbar>-->
        <!--<div class="md-toolbar-tools">-->
            <!--<span flex></span>-->
            <!--<h6>Как оно там?</h6>-->
            <!--<span flex></span>-->
            <!--<md-button class="md-icon-button" ng-click="cancel()">-->
                <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
            <!--</md-button>-->
        <!--</div>-->
    <!--</md-toolbar>-->
    <md-dialog-content>
        <div class="md-dialog-content" style="width: 400px;">
            <create-post></create-post>
        </div>
    </md-dialog-content>
</md-dialog>