<div layout="row" >
    <div flex="35"></div>
    <div flex="30" layout="column">
        <md-card ng-show='$rootScope.isLoggedIn'>
            <md-card-content>
                <create-post getMore="getMore"></create-post>
            </md-card-content>
        </md-card>
        <md-card>
                <md-card-content>
                <h3>Последнии курлы</h3>
                <md-list>
                    <post-directive ng-repeat="item in data | filter:search | orderBy : '-id'" model="item"></post-directive>
                    <md-divider></md-divider>
                    <md-item layout class="inset">
                        <md-button layout layout-align="start center" flex class="md-primary" ng-click="getMore()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                        </md-button>
                    </md-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="35"></div>
</div>
