<form  layout="column" novalidate name="form" class="">
	<md-input-container md-no-float>
		<input type="text" name="username" ng-model="user.email"  placeholder="Имя Использователя" required>
	</md-input-container>
	<md-input-container md-no-float>
		<input type="password" name="password"  ng-model="user.password" placeholder="Пароль" required>
	</md-input-container>
	<div layout="row" layout-align="center center">
		<md-checkbox flex ng-model="user.remember" aria-label="RememberMe" style="margin: 0;">
			Запомнить меня
		</md-checkbox>
		<md-card-actions layout="row" layout-align="end center">
			  <md-button class="md-primary md-raised" type="submit" ng-click="send(user)" ng-disabled="form.$invalid">Вписаться</md-button>
		</md-card-actions>
	</div>
	<span style="font-size:2em" ng-show="showError">Вписка не удалась; Проверте пароль и имя</span>
</form>