<form novalidate name="newPost" layout="column">

    <md-input-container flex>
        <textarea type="text" placeholder="" aria-label="кря!" name="body" md-maxlength="220" ng-minlength="5" required  ng-model="message.body"
               md-select-on-focus rows="5" ng-model-options="{ debounce: 500 }" ng-style="{'min-height': '70px'}">
        </textarea>
        <div ng-messages="newPost.body.$error" ng-show="newPost.body.$touched">
            <div ng-message="md-maxlength">
                Эй! Полегче! Не так много...
            </div>
        </div>
    </md-input-container>
    <md-card-actions layout="row" layout-align="end center">
        <div flex></div>
        <md-button class="md-primary md-raised" type="submit" ng-click="send(message)" ng-disabled="!newPost.$valid">КРЯ!</md-button>
    </md-card-actions>
</form>