<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="menu.isSidenavOpen">
    <md-toolbar class="md-hue-2">
    <!--<md-toolbar class="md-tall md-hue-2">-->
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset hide">
            <user-avatar></user-avatar>
            <span></span>
            <div>Firstname Lastname</div>
            <div>email@domainname.com</div>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item md-ink-ripple ng-click="navigateTo('/');toggleLeft();" ng-if="!isLoggedIn">
                <md-icon md-svg-icon="communication:message" aria-label="Home page"></md-icon>
                <p> Home </p>
            </md-list-item>
            <md-list-item md-ink-ripple ng-click="navigateTo('/feed');toggleLeft();" ng-if="isLoggedIn">
                <md-icon md-svg-icon="communication:message" aria-label="Home page"></md-icon>
                <p> Feed </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <md-list-item md-ink-ripple ng-click="rapeCommonSense();toggleLeft();">
                <md-icon md-svg-icon="communication:message" aria-label="T&C"></md-icon>
                <p> T&C </p>
            </md-list-item>

            <logout-directive ng-if="isLoggedIn" side-menu="true" ng-click="toggleLeft();"></logout-directive>
        </md-list>
    </md-content>
</md-sidenav>