<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
        <md-list flex layout="row" layout-align="center center">
            <div class="footer-text"> ВНИМАНИЕ!: Пропаганда гомосексуализма и контрацептивов стожайше запрешены. </div>
            <div class="footer-text"> © 1854-2016 ОАО Ретард. Все права зарезервированы.</div>
        </md-list>
</md-bottom-sheet>