<md-dialog aria-label="Login Register Dialog" ng-controller="MainController">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sign in or Sign up</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:500px;max-height:510px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                    <md-tab-label>Login</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <login-directive layout="column"></login-directive>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab label="two">
                    <md-tab-label>Register</md-tab-label>
                        <md-tab-body>
                    <md-content class="md-padding">
                            <register-directive layout="column"></register-directive>
                    </md-content>
                        </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>