<app-banner banner-background="banners.intro" background-size="cover" banner-height="auto" layout="row">
	<div flex layout="column" layout-gt-sm="row" style="margin-bottom: 40px;margin-top: 40px;">
		<div flex flex-gt-sm="5" flex-lg="10"></div>
		<div flex flex-gt-sm="45" flex-gt-md="30" flex-md="40" flex-lg="40"
			 layout="column" layout-align="center center" style="color:white;text-align: center;">
			<h2>{{intro[0]}}</h2>
			<p>{{intro[1]}}<br/>{{intro[2]}}</p>
			<p>{{intro[3]}}<br/>{{intro[4]}}</p>
		</div>
		<div flex flex-md="10" flex-gt-md="30" flex-lg="20"></div>
		<div flex flex-gt-sm="50" flex-gt-md="30" flex-md="40" flex-lg="30" layout="column">
			<md-card>
			 	<md-card-content>
			            <md-tabs md-dynamic-height md-border-bottom>
			                <md-tab label="one">
			                    <md-tab-label>Я местный</md-tab-label>
			                    <md-tab-body>
			                        <md-content class="md-padding">
			                            <login-directive></login-directive>
			                        </md-content>
			                    </md-tab-body>
			                </md-tab>
			                <md-tab label="two">
			                    <md-tab-label>Вступить в клуб</md-tab-label>
			                        <md-tab-body>
			                    <md-content class="md-padding">
			                            <register-directive></register-directive>
			                    </md-content>
			                        </md-tab-body>
			                </md-tab>
			            </md-tabs>
				</md-card-content>
			</md-card>
		</div>
		<div flex flex-gt-sm="5" flex-lg="20"></div>
	</div>
</app-banner>

<div style="background-color:white;" layout="row" layout-align="center center">
<div layout-align="center center" layout="column" flex-gt-sm="90" flex-gt-md="60" >
	<h1>{{features.title}}</h1>
<div layout="row" layout-wrap layout-sm="column" style="margin-bottom: 40px">
	<div flex="50" flex-sm="100" ng-repeat="item in features.collection">
		<md-list-item class="md-2-line md-long-text">
		  <img ng-src="{{item.face}}" class="md-avatar home-page" alt="{{item.title}}" />
		  <div class="md-list-item-text">
		    <h2>{{ item.title }}</h2>
		    <p>{{ item.text}}</p>
		  </div>
		</md-list-item>
	</div>
</div>
</div>
</div>

<app-banner banner-background="banners.outro" layout="row" background-size="cover">
	<div layout="row" layout-align="center center" style="color: white;">
		<div flex="50" style="text-align: center;">
			<img src="{{outro.img}}">
			<h3>{{outro.text[0]}}</h3>
	  		<h1>{{outro.text[1]}}</h1>
		  	<h3>{{outro.text[2]}}</h3>
		</div>
	</div>
</app-banner>

