            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                    <md-tab-label>Login</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Login</h1>
                            <login-directive></login-directive>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab label="two">
                    <md-tab-label>Register</md-tab-label>
                        <md-tab-body>
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Register</h1>
                            <register-directive></register-directive>
                    </md-content>
                        </md-tab-body>
                </md-tab>
            </md-tabs>